@using GateEntryExit_MVC.Models.Sensor
@using GateEntryExit_MVC.Models.Shared

@model GetAllSensorsDto

@{
    var totalItems = Model.TotalCount;
    var items = Model.Items;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary">Create</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>
                            Sensor name
                        </th>
                        <th>
                            Gate name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sensor in items)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                            <td>@sensor.Name</td>
                            <td>@sensor.GateDetails.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pagination", new PaginationModel(){
               Controller = "Sensor",
               Action = "GetAll",
               TotalItems = totalItems
            })
        </div>
    </div>
</div>
   
