@using GateEntryExit_MVC.Models.Gate
@using GateEntryExit_MVC.Models.Shared

@model GetAllGatesDto

@{
    var totalItems = Model.TotalCount;
    var items = Model.Items;
}

<div class="container">
    <div class="row">       
        <div class="col-6">
            <button class="btn btn-primary" onclick="showFormModal('@Url.Action("AddOrEdit", "Gate", null, Context.Request.Scheme)','New Gate')">Create</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>
                           Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gate in items)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-primary" onclick="showFormModal('@Url.Action("AddOrEdit", "Gate", new { id = gate.Id }, Context.Request.Scheme)','Edit Gate')">Edit</button>
                                <button class="btn btn-danger" disabled onclick="location.href='@Url.Action("Delete", "Gate", new { id = gate.Id }, Context.Request.Scheme)'">Delete</button>
                            </td>
                            <td>@gate.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pagination", new PaginationModel() { 
                Controller = "Gate",
                Action = "GetAll",
                TotalItems = totalItems
            })
        </div>
    </div>
</div>
   
