@using GateEntryExit_MVC.Models.GateExit
@using GateEntryExit_MVC.Models.Shared

@model GetAllGateExitsDto

@{
    var totalItems = Model.TotalCount;
    var items = Model.Items;
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary" onclick="showFormModal('@Url.Action("AddOrEdit", "GateExit", null, Context.Request.Scheme)','New Gate Exit')">Create</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>
                            Name
                        </th>
                        <th>
                            NumberOfPeople
                        </th>
                        <th>
                            TimeStamp
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var gateExit in items)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-primary">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                            <td>@gateExit.GateName</td>
                            <td>@gateExit.NumberOfPeople</td>
                            <td>@gateExit.TimeStamp</td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pagination", new PaginationModel(){
                   Controller = "GateExit",
                   Action = "GetAll",
                   TotalItems = totalItems
            })
        </div>
    </div>
</div>
   
